amqp==5.0.2
attrs==18.2.0
billiard==3.6.3.0
celery==5.0.2
certifi==2020.11.8
cffi==1.15.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cryptography==36.0.1
defusedxml==0.6.0
diff-match-patch==20200713
Django==2.2.6
django-annoying==0.10.3
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-cors-headers==3.5.0
django-extended-choices==1.3.3
django-import-export==2.4.0
django-selectable==1.3.0
django-tables2==1.21.2
django-timezone-field==4.0
djangorestframework==3.12.4
djangorestframework-jsonapi==4.1.0
djangorestframework-simplejwt==5.0.0
djappsettings==0.4.0
et-xmlfile==1.0.1
freeze==3.0
idna==2.10
img2pdf==0.4.0
importlib-metadata==3.1.0
inflection==0.5.1
jdcal==1.4.1
Jinja2==2.11.2
kombu==5.0.2
lxml==4.6.2
MarkupPy==1.14
MarkupSafe==1.1.1
marshmallow==3.9.1
odfpy==1.4.1
openpyxl==3.0.5
pikepdf==2.6.0
prompt-toolkit==3.0.8
psycopg2==2.8.6
pyairmore==0.2.1a1
PyConfigure==0.5.9
pycparser==2.21
PyJWT==2.3.0
PyStaticConfiguration==0.10.5
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.1.2
RapidSMS==1.1.0
redis==3.5.3
requests==2.25.0
simplekv==0.13.0
six==1.15.0
sqlparse==0.4.1
structlog==20.1.0
tablib==2.0.0
twilio==6.50.1
urllib3==1.26.2
ussd-airflow==0.0.6
ussd-airflow-engine==0.0.8.1
vine==5.0.0
wcwidth==0.2.5
xlrd==1.2.0
xlwt==1.3.0
youtube-dl==2020.12.14
zipp==3.4.0
